@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body{
    font-family: 'Henny Penny', cursive;; 
    margin: 0px;
    background: #ECEAEA;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 8px 8px;
    background: #DFDED8;
}

h1{
    text-align: center;
    margin: 0px;    
}

.navbar{
    display: flex;
    align-items: center;  
    margin: 0;
    padding: 0;
    width:100%;
}

.navlist{
    display: flex;
    gap: 8px;
}

.logo{
    width: 60px;
    height: 60px;
}

nav{
    display: flex;
    width: 100%;
    padding: 0px 25px;
    justify-content: space-between;           
}

.icons{
    width: 40px;
    height: 40px;
}

.icons_active{    
    border: 3px solid #D3B701;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}

.navtext{
    display: none;
}
.image{
    width: 300px;
    height: 257px;
}

main{
    padding: 15px 10px 0px;
    gap: 10px;
    
}
.welcome_section{
    text-align: center;
}
