@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body{
    font-family: 'Henny Penny', cursive;; 
    margin: 0px;
    background: #ECEAEA;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 8px 8px;
    background: #DFDED8;
}

h1{
   margin: 0px;    
}

.navbar{
    display: flex;
    align-items: center;  
    margin: 0;
    padding: 0;
    width:100%;
}

.navlist{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    gap: 8px;
}

.logo{
    width: 60px;
    height: 60px;
}

nav{
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-between;           
}

.icons{
    width: 40px;
    height: 40px;
}

.icons_active{    
    border: 3px solid #D3B701;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}

.navtext{
    display: flex;
}
.welcome_image{
    display: flex;
    max-width: 100%;
    border-radius: 15px;
    align-self: center;

}

main{
    padding: 15px;
    gap: 10px;
    
}
.welcome_section{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;    
    
}

p{
    text-align: justify;
    margin: 0px;
}

footer{
    background: #DFDED8;
    
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px; 
}

.list_social_icons{
    display: flex;
    width: 360px;
    justify-content:center;
    gap: 60px;
}

.social_icon{
    width: 25px;
    height: 25px;
}

